.nav-item {
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
}

.nav-item:first-child {
    margin-right: 0px;
}

.item-link {
    display: flex;
    gap: 10px;
    position: relative;
    height: 100%;
    align-items: center;
}



.nav-item-text {
    color: var(--light-text-color);
}

.cart {
    position: relative;
}

.cart .nav-item-icon {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}

/* placing cart count inside icon */
.cart-count {
    position: absolute;
    bottom: 32px;
    left: 6px;
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 600;
}

.active-text,
.active-count {
    color: var(--swiggy-color);
}

.active-icon {
    fill: var(--swiggy-color);
    stroke: var(--swiggy-color);
}

/* I put cart as otherwise with only .active-cart-icon styles were not applying correctly 
    as above we have .cart .nav-item-icon which had higher specificity
  */
.cart .active-cart-icon {
    fill: #fff;
    stroke: var(--swiggy-color);
}

/* .item-link:hover .nav-item-text {
    color: var(--swiggy-color);
  }
  .item-link:hover .nav-item-icon {
    fill: var(--swiggy-color);
    stroke: var(--swiggy-color);
  }
  
  .item-link:hover .cart-count {
    color: var(--swiggy-color);
  }
  .cart .item-link:hover .nav-item-icon {
    stroke: var(--swiggy-color);
    fill: #fff;
  } */

/* .item-link:hover .nav-item-text.NEW {
    color: #ffa700;
  } */

.NEW {
    color: #ffa700;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    right: -24px;
    top: 26px;
}

.signin .nav-item-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
}

/* set bottom as height of tooltip box */
.tooltip-box {
    position: absolute;
    bottom: -185px;
    right: 0px;
    width: 340px;
    height: 185px;
    border-top: 2px solid var(--swiggy-color);
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 50px -20px #12190f;
    cursor: default;
    background-color: white;
}

.tooltip-icon {
    position: absolute;
    top: -7px;
    right: 20px;
    border-right: 2px solid var(--swiggy-color);
    border-top: 2px solid var(--swiggy-color);
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    z-index: 3;
    background-color: white;
}

/* to hide and show tooltip boxes 
  * display doesn't transition
  * also using only opacity was creating problem of being detecting mouse events
  */
/* .hide {
    display: none;
    transition: display 1s;
    -webkit-transition: display 0.5s;
    -moz-transition: display 0.5s;
    -o-transition: display 0.5s;
    opacity: 0;
    transition: opactiy 1s;
    -webkit-transition: opactiy 1s;
    -moz-transition: opactiy 1s;
    -o-transition: opactiy 1s;
  }
  .show {
    display: block;
    transition: display 1s;
    -webkit-transition: display 1s;
    -moz-transition: display 1s;
    -o-transition: display 1s;
    opacity: 1;
    transition: opactiy 1s;
    -webkit-transition: opactiy 1s;
    -moz-transition: opactiy 1s;
    -o-transition: opactiy 1s;
  } */

/* to hide and show tooltip boxes */
.hide-slow {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.1s 0s;
}

.show-fast {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s, visibility 0s;
}

.show-slow {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0.5s, visibility 0s;
}

/* setting different height signin tooltip */
.signin .tooltip-box {
    bottom: -232px;
    left: -58px;
    width: 220px;
    height: 0;
    min-height: 232px;
}

.signin .tooltip-icon {
    left: 50%;
}

.signin ul {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
}

.signin .tooltip-box-option {
    display: flex;
    align-items: center;
    height: 40px;
}

.signin .tooltip-option-text {
    font-size: 14px;
    color: var(--text-color);
    transition: font-weight 0.1s ease;
}

.signin .tooltip-box-option:hover>.tooltip-option-text {
    font-weight: 550;
}